version: '2'
services:
  pynecone:
    container_name: pycone-working-time-calculator
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "${PORTS1}:8000"
      - "${PORTS2}:3000"