version: '2'
services:
  pynecone:
    container_name: pycone-working-time-calculator
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
#    environment:
#      - ACCESS_API_URL=${ACCESS_API_URL}
    env_file: stack.env
    ports:
      - "${PORTS_API}:8000"
      - "${PORTS_PUBLIC}:3000"